allow init default_android_service:service_manager add;
allow init hal_googlebattery_service:service_manager add;
allow init proc:file write;
allow init servicemanager:binder { call transfer };
allow init system_file:file execute_no_trans;
allow init vendor_file:file { execute execute_no_trans };
